/* #home {
    margin-top: 10%;
    background-image: url(./images/bg.jpg);
    border-radius: 75px;
    color: #1E90FF;
} */

#second {
    display: flex;
    justify-content: center;
}

#first {
    padding-left: 10%;
    font-size: 130%;
}

.img {
    height: 131%;
    width: 60%;
    object-fit: cover;
    border-radius: 2px;
    background-image: url(./images/bg.jpg);
}

.imgs {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border: solid 1px black;
}

#b {
    text-align: center;
}


/*  =========================================*/

.container-fluid {
    color: white;
}

.ok {
    display: flex;
    justify-content: end;
    font-family: 'Cinzel', serif;
    color: white;
}

.so {
    font-family: 'Cinzel', serif;
    color: white;
}

#li {
    display: flex;
    justify-content: space-between;
}

.im {
    color: white;
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gc {
    font-size: 94px;
    line-height: 65px;
    font-family: 'Cinzel', serif;
}

.exp {
    border: solid 1px white;
    color: white;
    width: fit-content;
    font-size: 35px;
    font-family: 'Cinzel', serif;
}

.exps {
    display: flex;
    justify-content: end;
}

#home {
    margin-top: 1%;
}

#about {
    color: white
}

.intro {
    font-family: 'Cinzel', serif;
    font-size: 29px;
}

.me {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#expl {
    font-family: 'Cinzel', serif;
    font-size: 25px;
}

.span {
    border: solid 1px white;
    color: white;
}

.con {
    color: white;
    font-family: 'Cinzel', serif;
}

.imgss {
    height: 75px;
    width: 75px;
    object-fit: cover;
    border: solid 2px white
}

.tk {
    margin-top: 2%;
    color: white;
    font-family: 'Cinzel', serif;
    font-size: 45px;
    text-align: center;
}

.expsa {
    display: flex;
    justify-content: start;
}

#col {
    color: white;
    font-family: 'Cinzel', serif;
}